/*============Feuille de Style CSS==============*/

* {
	background: transparent;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	display: flex;
}

li {
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('background.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}

/*============================*/

.principal-div {
	width: 965px;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
}

#logo {
	padding-left: 11px;
	padding-top: 23px;
	padding-bottom: 13px;
}

.menu {
	background-color: #0056af;
	width: 965px;
	height: 44px;
	margin-right: auto;
	margin-left: auto;
}

.btn-menu {
	display: flex;
	height: 44px;
}

.btn1,
.btn2 {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 11px;
	cursor: pointer;
	padding-bottom: 17px;
	border-right: dashed 1px;
}

/*============================*/

.header-txt {
	text-align: center;
	font-size: 30pt;
	margin-top: 41px;
	font-weight: bold;
}

.header-prod {
	text-align: center;
	font-size: 30px;
	margin-top: 41px;
	font-weight: bold;
}

.container-prod {
	display: flex;
	margin-top: 77px;
	margin-right: 80px;
	margin-left: 80px;
	flex-wrap: wrap;
}

.prod {
	text-align: center;
	flex-basis: 33%;
	flex-grow: 0;
}

.desc-prod {
	color: #0056af;
	font-size: 14px;
	font-weight: bold;
}

.description {
	width: 600px;
}

.price,
.price-prod {
	font-size: 30px;
	font-weight: 100;
	margin: 15px;
}

.price-prod {
	font-size: 48px;
}

.form-marq {
	position: relative;
	left: 420px;
}

.left-prod {
	display: flex;
	flex-direction: column;
}

.right-prod {
	position: relative;
	display: flex;
	flex-direction: column;
	top: -242px;
	bottom: 305px;
	transform: translateX(37%);
}

.marque {
	position: relative;
	bottom: 20px;
	font-weight: bold;
}

.stock {
	font-size: 14px;
	font-weight: bold;
	position: relative;
	right: 23px;
}

.marque-color,
.stock-color {
	font-size: 16px;
	color: #0056af;
}

.left-centre {
	position: relative;
	text-align: center;
	transform: translateX(-31%);
	top: 45px;
}

/*============================*/

li ul {
	position: absolute;
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	float: left;
	margin: auto;
}

li a {
	display: block;
	text-decoration: none;
}

.btn1 a {
	color: #ffffff;
}

.btn2:hover {
	color: #0c5eb4;
	background-color: #b9d2f3;
	z-index: 6;
	position: relative;
}

li a:hover {
	color: #ffffff;
}

ul li ul {
	display: none;
	top: 17px;
	right: -31px;
}

ul li:hover ul {
	display: block;
	background-color: #b9d2f3;
	text-align: left;
	transform: translateX(0%);
	transform: translateY(10%);
}

li:hover ul li {
	float: none;
}

li ul li a {
	width: 130px;
	padding-left: 16px;
	text-decoration: none;
}

li ul li {
	color: black;
	font-size: 12px;
	padding: 11px;
}

/*============================*/